@font-face{
	src: url(font/ShadowsIntoLight-Regular.ttf);
	font-family: ShadowsIntoLight-Regular;
}



body {
	color: green;
	background-color: black;
	font-family: Papyrus;
}


ul{
	font-family:ShadowsIntoLight-Regular;
	background-color: gray;
}
	
li{
	
	display : inline;
	width: 200px;
	height: 50px;
	padding: 5px;	
}

