@font-face{
	src: url(font/ShadowsIntoLight-Regular.tff);
	font-family: ShadowsIntoLight-Regular;
}



body 
{
	color: green;
	background-color: black;
	font-family: Papyrus;
}

.van
{
	font-family:ShadowsIntoLight-Regular;
	
}
	
