@font-face{
	src: url(font/ShadowsIntoLight-Regular.ttf);
	font-family: ShadowsIntoLight-Regular;
}



body {
	color: green;
	background-color: black;
	font-family: Papyrus;
	width: 1920px;
	height: 1080px;
}


ul{
	color: green;
	font-family:ShadowsIntoLight-Regular;
	background-color: gray;
}
	
li{
	color: green;
	display : inline;
	width: 200px;
	height: 50px;
	padding: 5px;	
}

.Imgsizing{
width : 640px;
height : 480px;

}

h1{
	width: 1920px;
	height: 1080px;
}

h2{
	width: 1920px;
	height: 1080px;
}