@font-face{
	src: url(style/font/ShadowsIntoLight-Regular.ttf);
	font-family: ShadowsIntoLight-Regular;
}

.book{
  width: 75%;
}



 

.indexbod {
	color: green;
	background-color: black;
	font-family: Papyrus;
	width: 80%;
}


nav{
	color: green;
	font-family:ShadowsIntoLight-Regular;
	background-color: gray;
	float: left;
	width: 200px;
	height: 50px;
	padding: 5px;
	
	
}
	
.nav2{
	color: green;
	display : inline;
	width: 200px;
	height: 50px;
	padding: 5px;	
}



