@font-face{
  font-family: "ShadowsIntoLight-Regular";
	src: url(font/ShadowsIntoLight-Regular.ttf); 
}
@font-face{
  font-family: "amatic";
	src: url(font/Amatic_SC/AmaticSC-Regular.ttf);
}
@font-face{
  font-family: "amaticBold";
	src: url(font/Amatic_SC/AmaticSC-Bold.ttf); 
}
.book:not(nav){
  width: 75%;
  color: green;
  background-color: black;
  font-family: Papyrus;
}
.indexbod:not(nav){


	
}
.travelbod:not(nav){
	color: green;
	background-color: black;
	font-family: "amatic";
  font-size:18pt;
}
.Imgsizing{
width : 640px;
height : 480px;
margin: 0;
position:relative;
}
nav{
	position: sticky;
  top: 0;
	background-color: gray;
	width: 133%;
	height: 25px;
	padding: 5px;
  margin: 0;
}
nav a{
  display: inline-block;
  position: relative;
  left:40%;
  float: none;
	font-family:"ShadowsIntoLight-Regular";
	color: blue;
	padding: 10px;	
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}
@media screen and (max-width: 720px) {
  /*mobile friendly*/
  .indexbod{
    color: red;
    background-color: black;
    font-family: georgian;
    width: 50%;
    font-size: 7pt;
  }
} 
@media screen and (min-width: 720px) {
  /*desktop friendly*/
  .indexbod{
    color: green;
    background-color: black;
    font-family: Papyrus;
    width: 80%;
    font-size:16pt;
  }
} 
#wrapper {
  width: 850px;
  height: 600px;
  background-color: #c00;
  margin:0 auto;
  overflow: hidden;
}
#canvas {
  width: 700px;
  height: 500px;
  background-color: #ccc;
  margin: 30px auto;
}